.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.login-box {
  align-self: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 0 50px 5px rgb(121, 121, 121);
  border: none;
  border-radius: 32px;
  padding: 10px 30px;
  text-align: center;
  width: 32%;
}

form {
  padding: 15px 40px 45px 40px;

  display: flex;
  flex-direction: column;
  color: teal;
}

button {
  padding: 17px 35px;
  align-self: center;
  text-align: center;
  font-size: 1em;
  margin: 18px 0px 0px 0px;
  border: none;
  border-radius: 10px;
  outline: none;
  color: white;
  background-color: teal;
}

button:hover {
  cursor: pointer;
}

input[name="username"],
input[type="password"] {
  padding: 15px 60px 15px 60px;
  margin: 10px;
  outline: none;
  border: 1px solid teal;
  border-radius: 10px;
  background-color: white;
  color: grey;
  font-size: 1.3rem;
  text-align: center;
}
